/*img.bg {
  position: fixed;
  opacity: 0.5;
}*/

/*colors:
blue: #527FD9;
lightblue: #A2B6F2;
gold: #F2B84B;
*/

tr {
  align
}

td {
  height: 250px;
  width: 250px;
}

td:hover {
  background: #A2B6F2;
  opacity: 0.5;
}

.contact {
	cursor: pointer;
	color: #0088cc;
}

.contact:hover {
	text-decoration: underline:
}

.container {
  opacity: 100%;
}

.navbar-brand {
}

.navbar-brand > img {
 padding:2px;
}
